$color_white: white;
$color_black: black;
$color_navbar_text: #2D337B;
$color_navbar_demo: #AD2685;
$color_navbar_language: #E51148;
$color_main_hover: #CCCDDF;
$color_main_one: #1A1E4D;
$color_main_tow: #4149A0;
$color_main_textandbutton: #F94F72;
$color_main_text: Yellow;
$color_services_back: #F0F1F7;
$color_aboutandservices_title: #2C3B84;
$color_aboutandservices_text: #A92D94;