@import "color";

// start everyone
body {
    text-transform: capitalize;
    font-family: 'Rajdhani', sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: $color_navbar_text;
}

.tag_transition {
    transition: 0.4s;
}

.div_index {
    z-index: 1;
}

.span_all {
    color: $color_main_textandbutton;
}

.index_four {
    z-index: 4;
}

body main section .container .div_works::after,
body main section .container .div_works::before,
body main section .container .div_content::after,
body main section .container .div_content::before,
body main .section_services .container .div_anmai_end::before,
body main .section_services .container .div_before_anmai_next::after,
body main .section_services .container .div_before_anmai_next::before,
body main .section_services .container .div_before_anmai::before,
body main .section_services .container .div_before_anmai::after,
body main section .container .image_beforeandafter .image_animation .div_change::before,
body main section .container .image_beforeandafter .image_animation::after,
body main section .container .image_beforeandafter .image_animation::before,
body main section .container .image_beforeandafter::after,
body main section .container .image_beforeandafter::before,
body .section_main .container .row div div .before_image::before,
body .section_main .container .row div .div_image_back::before,
body .section_main .container .row div .div_image_back::after {
    content: "";
    animation: image_animation 3s infinite;
    position: absolute;
}

.button_active_demo {
    background-color: $color_navbar_demo;
}

.div_height {
    height: 10vh;
}

.mouse_caro {
    cursor: pointer;
}

.text_color_reverse {
    color: #ffffffb5;
}

.accordion-button::after,
.accordion-button:not(.collapsed)::after {
    background-image: unset;
}

.accordion:nth-child(odd) .accordion-button::after {
    content: url("/folder_image/image_benefits/icon_arrow_right.svg");
    margin-left: auto;
}

.accordion:nth-child(even) .accordion-button::after {
    content: url("/folder_image/image_benefits/icon_arrow.svg");
    margin-left: auto;
}

.accordion:nth-child(odd) .accordion-button:not(.collapsed)::after,
.accordion:nth-child(even) .accordion-button:not(.collapsed)::after {
    content: url("/folder_image/image_benefits/icon_bottom.svg");
    transform: rotate(0deg);
}

.accordion:nth-child(odd) .accordion-item:last-of-type .accordion-button.collapsed,
.accordion:nth-child(even) .accordion-item:last-of-type .accordion-button.collapsed {
    border-radius: 20px;
}

.accordion:nth-child(odd) .accordion-item:last-of-type .accordion-button.collapsed {
    color: $color_aboutandservices_title;
    background-color: $color_benefits;
}

.accordion:nth-child(even) .accordion-item:last-of-type .accordion-button.collapsed {
    color: $color_aboutandservices_text;
    background-color: $color_benefits;
}

.accordion:nth-child(odd) .accordion-item .accordion-button {
    background-color: $color_aboutandservices_title;
}

.accordion:nth-child(even) .accordion-item .accordion-button {
    background-color: $color_aboutandservices_text;
}

.accordion .accordion-item .accordion-button {
    border-radius: 20px 20px 0 0;
    color: $color_white;
}

.image_fit {
    object-fit: cover;
}

.div_background {
    background-color: #F4F4F4;
}

// end everyone
// start navbar
body section .container_respons nav div ul li .active {
    color: $color_white !important;
    background-color: $color_main_one;
}

body section .container_respons nav div ul li .button_active_language {
    background-color: $color_navbar_language;
}

body section .container_respons nav div ul .a_padding {
    color: $color_navbar_text;
    padding-top: 34px;
    padding-bottom: 34px;
}

body section .container_respons nav div ul .a_padding:hover {
    color: $color_white !important;
    background-color: $color_main_one;
}

// end navbar
// start main
body .section_main div .container .row div .div_index .size_Jigsaw {
    font-size: 50px;
}

body .section_main {
    height: 100vh;
    background: -webkit-linear-gradient(-180deg, $color_main_one, $color_main_tow);
    background: linear-gradient(-180deg, $color_main_one, $color_main_tow);
}

body .section_main div div .image_left_back {
    width: 500px;
    height: 400px;
    animation: left_animation 3s infinite !important;
}

@keyframes left_animation {
    0% {
        transform: translate(0, 50px);
    }

    50% {
        transform: translate(0, 0px);
    }

    100% {
        transform: translate(0, 50px);
    }
}

body .section_main .container .row div div .text_gold {
    color: $color_main_text;
}

body .section_main .container .row div .div_image_back::before {
    content: url("/folder_image/image_main/image_main_right.png");
}

body .section_main .container .row div .div_image_back::after {
    content: url("/folder_image/image_main/image_iphone_left.png");
    margin-top: 150px;
    border-radius: 20px;
    margin-left: -300px;
    z-index: 3;
}

body .section_main .container .row div .div_image_back .before_image::before {
    content: url("/folder_image/image_main/image_iphone_right.png");
    margin-top: 150px;
    border-radius: 20px;
    margin-left: 200px;
    margin-top: 360px;
    z-index: 3;
}

@keyframes image_animation {
    0% {
        transform: translate(0, -30px);
    }

    50% {
        transform: translate(0, 0px);
    }

    100% {
        transform: translate(0, -30px);
    }
}

body .section_main div .container .row div div div .video_center {
    outline: 2px solid $color_white;
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: 0.1s;
}

body .section_main div .container .row div div div .video_center:hover {
    outline: 0px solid $color_white;
    background-color: $color_main_hover !important;
}

body .section_main div .container .row div div div .button_background {
    background-color: $color_main_textandbutton;
}

body .section_main div .container .row div div div .button_background:hover {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    background-color: $color_navbar_demo;
}

body .section_main div .container .row div div div .button_background:hover .text_download {
    font-size: 17px;
}

body .section_main div .container .row div div div .button_background:hover .image_hover {
    margin-top: 5px;
}

body .section_main div a .icon_animation {
    animation: image_animation 4s infinite;
}

// end main
// start about
body main section .container .title_about {
    color: $color_aboutandservices_title;
}

body main section .container .text_about {
    color: $color_aboutandservices_text;
}

body main section .container .image_beforeandafter .image_animation::after,
body main section .container .image_beforeandafter .image_animation::before,
body main section .container .image_beforeandafter::before,
body main section .container .image_beforeandafter::after {
    z-index: -1;
}

body main section .container .image_beforeandafter::before,
body main section .container .image_beforeandafter .image_animation::before {
    animation: point_animation 5s infinite;
    left: 15%;
}

body main section .container .image_beforeandafter::before {
    content: url("/folder_image/image_about/image_ellipse1.svg");
}

@keyframes point_animation {
    0% {
        transform: translate(0, -5px);
    }

    50% {
        transform: translate(0, 0px);
    }

    100% {
        transform: translate(0, -5px);
    }
}

body main section .container .image_beforeandafter::after {
    content: url("/folder_image/image_about/image_ellipse2.svg");
    left: 12%;
    top: 140%;
    animation: point_smoll_animation 4s infinite;
}

@keyframes point_smoll_animation {
    0% {
        transform: translate(0px, -19px);
    }

    50% {
        transform: translate(10px, 0px);
    }

    100% {
        transform: translate(0px, -19px);
    }
}

body main section .container .image_beforeandafter .image_animation::before {
    content: url("/folder_image/image_about/image_ellipse5.svg");
    top: 180%;
    left: 13%;
}

body main section .container .image_beforeandafter .image_animation::after {
    content: url("/folder_image/image_about/image_ellipse4.svg");
    left: 12%;
    top: 185%;
    animation: point_smoll_animation 4s infinite;
}

body main section .container .image_beforeandafter .image_animation .div_change::before {
    right: 0;
    top: 130%;
    z-index: -1;
    animation: change_animation 7s infinite;
}

@keyframes change_animation {
    0% {
        content: url("/folder_image/image_about/image_jiqsaw1.svg");
        transform: translate(-30px, 70px);
    }

    50% {
        content: url("/folder_image/image_about/image_jiqsaw2.svg");
        transform: translate(0px, 0px);
    }

    100% {
        content: url("/folder_image/image_about/image_jiqsaw1.svg");
        transform: translate(-30px, 70px);
    }
}

// end about
// start services
body main .section_services {
    background-color: $color_services_back;
}

body main .section_services .container .row_nth:nth-child(odd) {
    flex-direction: row-reverse;
}

body main .section_services .container .row_nth:nth-child(even) {
    flex-direction: row;
}

body main .section_services .container .row_nth .col_overflow div .div_mouse .acitve_background {
    background-color: $color_navbar_text !important;
}

body main .section_services .container .row_nth .col_overflow div .div_mouse .icon_padding {
    width: 50px;
    height: 50px;
}

body main .section_services .container .row_nth .col_overflow div .text_active {
    color: $color_navbar_text;
}

body main .section_services .container .row_nth .col_overflow div .div_mouse .icon_padding .icon_active {
    color: $color_white !important;
}

body main .section_services .container .div_before_anmai::after {
    content: url("/folder_image/image_services/image_background_left.svg");
    left: 0;
    top: 2400px;
}

body main .section_services .container .div_before_anmai::before {
    content: url("/folder_image/image_services/image_background_right.svg");
    right: 0;
    top: 3100px;
}

body main .section_services .container .div_before_anmai_next::before {
    content: url("/folder_image/image_services/image_background_left.svg");
    left: 0;
    top: 3700px;
}

body main .section_services .container .div_before_anmai_next::after {
    content: url("/folder_image/image_services/image_background_right.svg");
    right: 0;
    top: 4200px;
}

body main .section_services .container .div_anmai_end::before {
    content: url("/folder_image/image_services/image_background_left.svg");
    left: 0;
    top: 4500px;
}

body main .section_services .container .row div a .button_hover .image_hover_right {
    transition: 0.3s;
}

body main .section_services .container .row div a .button_hover:hover .image_hover_right {
    margin-left: 20px;
}

body main .section_services .container .row_nth div div .border_right {
    border-right: 4px solid $color_navbar_text;
}

// end services
// start benefits
body main .section_minheight {
    min-height: 900px;
}

body main section div .div_animation {
    animation: left_animation 8s infinite !important;
}

// end benefits
// start features
.col:nth-child(odd) .div_none_color,
.col:nth-child(even) .div_none_color {
    top: 100%;
    left: 50%;
    width: 0%;
    height: 0vh;
    transition: 1s;
}

.col:nth-child(odd) .div_none_color {
    background-color: $color_aboutandservices_title;

}

.col:nth-child(even) .div_none_color {
    background-color: $color_aboutandservices_text;
}

body main section .container .row .col .div_hover:hover .div_none_color {
    top: 0%;
    left: 0;
    width: 100%;
    height: 195px;
}

body main section .container .row .col .div_hover .div_none_color .container .p_line::before {
    content: "";
    position: absolute;
    width: 55%;
    height: 2px;
    top: 45px;
    left: 65px;
    background-color: $color_white;
}

body main section .container .div_content::before {
    content: url("/folder_image/image_services/image_background_left.svg");
    left: 0;
    top: 5600px;
}

body main section .container .div_content::after {
    content: url("/folder_image/image_services/image_background_right.svg");
    right: 0;
    top: 6000px;
}

body section main div div div .text_letter {
    letter-spacing: 2px;
}

body main section .div_inline_none div .div_absolute_width {
    width: 390px;
}

body main section .div_inline_none div .div_absolute_width .div_none_reverse {
    display: none;
}

body main section .div_inline_none .image_click {
    width: 100%;
    height: 100vh;
    transition: 1s;
}

body main section .div_inline_none .active_image {
    width: 250%;
}

body main section section .container .row .accordion .accordion-header div .image_respons {
    height: 20vh;
}

body main section section .container .row .accordion .accordion-header div .div_center {
    transform: translate(0, 50px);
}

body main section section .container .row .accordion .accordion-header div .div_center .active_image_arraow {
    transform: rotate(180deg);
}

body main section section .container .row .accordion .accordion-header div .div_center .image_arraow {
    transition: 0.5s;
}

// end features
// start work
body main section .container .div_works::before {
    content: url("/folder_image/image_services/image_background_right.svg");
    right: 0;
    top: 7800px;
}

body main section .container .div_works::after {
    content: url("/folder_image/image_services/image_background_left.svg");
    left: 0;
    top: 8000px;
}

body main section .container .div_border {
    border-top: 5px dashed $color_navbar_text;
}

body main section .container .row div .col_circle::before {
    content: "";
    position: absolute;
    margin-top: -68px;
    border-radius: 50px;
    border: 2px solid $color_white;
    outline: 2px solid $color_navbar_text;
    width: 25px;
    height: 25px;
}

body main section .container .row div:nth-child(even) .col_circle::before {
    background-color: $color_navbar_text;
}

body main section .container .row :nth-child(odd) .col_circle::before {
    background-color: $color_navbar_demo;
}

body main section .container div .div_width_line {
    width: 85%;
}

// end work
// start integration
body main section .container .row .col .shadow_radius {
    border-radius: 50px;
}

// start integration
// start customers
$time: 500ms;
$delay: $time/2;
$mode: cubic-bezier(0.17, 0.67, 0.55, 1.43);

@keyframes heartbeat {
    0% {
        transform: scale(0);
    }

    25% {
        transform: scale(1.2);
    }

    50% {
        transform: scale(1);
    }

    75% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.slider-container {
    margin: 0 auto;
    width: 400px;
    height: 500px;

    .slider-content {
        .slider-single {
            position: absolute;
            z-index: 0;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            transition: z-index 0ms $delay;

            .slider-single-image {
                position: relative;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.2);
                transition: $time $mode;
                transform: scale(0);
                opacity: 0;
            }

            &.preactive {
                z-index: 1;

                .slider-single-image {
                    opacity: 0.3;
                    transform: translateX(-25%) scale(0.8);
                }

                .slider-single-download {
                    transform: translateX(-150px);
                }

                .slider-single-title {
                    transform: translateX(-150px);
                }

                .slider-single-likes {
                    transform: translateX(-150px);
                }
            }

            &.proactive {
                z-index: 1;

                .slider-single-image {
                    opacity: 0.3;
                    transform: translateX(25%) scale(0.8);
                }

                .slider-single-download {
                    transform: translateX(150px);
                }

                .slider-single-title {
                    transform: translateX(150px);
                }

                .slider-single-likes {
                    transform: translateX(150px);
                }
            }

            &.active {
                z-index: 2;

                .slider-single-image {
                    opacity: 1;
                    transform: translateX(0%) scale(1);
                }

                .slider-single-download {
                    opacity: 1;
                    transition-delay: 100ms;
                    transform: translateX(0px);
                }

                .slider-single-title {
                    opacity: 1;
                    transition-delay: 200ms;
                    transform: translateX(0px);
                }

                .slider-single-likes {
                    opacity: 1;
                    transition-delay: 300ms;
                    transform: translateX(0px);

                    i {
                        animation-name: heartbeat;
                        animation-duration: 500ms;
                        animation-delay: 900ms;
                        animation-interation: 1;
                        animation-fill-mode: forwards;
                    }
                }
            }
        }
    }

    .slider-left {
        position: absolute;
        z-index: 3;
        display: block;
        right: 85%;
        top: 50%;
        color: #ffffff;
        transform: translateY(-50%);
        padding: 20px 15px;
        border-top: 2px solid #fdc84b;
        border-right: 2px solid #fdc84b;
        border-bottom: 2px solid #fdc84b;
        border-left: 2px solid #fdc84b;
        margin-right: -2px;
    }

    .slider-right {
        position: absolute;
        z-index: 3;
        display: block;
        left: 85%;
        top: 50%;
        color: #ffffff;
        transform: translateY(-50%);
        padding: 20px 15px;
        border-top: 2px solid #fdc84b;
        border-right: 2px solid #fdc84b;
        border-bottom: 2px solid #fdc84b;
        border-left: 2px solid #fdc84b;
        margin-left: -2px;
    }

    .not-visible {
        display: none !important;
    }
}

// end customers
// start media
@media (max-width: 1200px) and (min-width: 990px) {
    body .section_main div .container .row div .div_image_back::before {
        width: 50%;
        height: 650px;
    }

    body section .container_respons nav div ul .a_padding {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
}

@media (max-width: 990px) {
    body .section_main div .container .row div .div_index .size_Jigsaw {
        font-size: 25px;
    }

    body .section_main {
        padding-top: 1100px;
    }

    body main section .container .div_works::after,
    body main section .container .div_works::before,
    body main section .container .row div .col_circle::before,
    body main section .div_inline_none,
    body main section #div_none,
    body main section .container .div_content::after,
    body main section .container .div_content::before,
    body main .section_services .container .div_anmai_end::before,
    body main .section_services .container .div_before_anmai_next::after,
    body main .section_services .container .div_before_anmai_next::before,
    body main .section_services .container .div_before_anmai::before,
    body main .section_services .container .div_before_anmai::after,
    body main section .container .image_beforeandafter .image_animation .div_change::before,
    body main section .container .image_beforeandafter .image_animation::after,
    body main section .container .image_beforeandafter .image_animation::before,
    body main section .container .image_beforeandafter::after,
    body main section .container .image_beforeandafter::before,
    body .section_main div div .image_left_back,
    body .section_main div .container .row div div .before_image::before,
    body .section_main div .container .row div .div_image_back::before,
    body .section_main div .container .row div .div_image_back::after {
        display: none !important;
    }

    body section .container_respons nav div ul li .button_active_demo:hover,
    body section .container_respons nav div ul li .button_active_language:hover {
        color: $color_white !important;
    }

    body section .container_respons nav div ul li .button_active_demo:hover {
        background-color: $color_navbar_demo;
    }

    body section .container_respons nav div ul li .button_active_language:hover {
        background-color: $color_navbar_language;
    }

    body section .container_respons {
        min-width: 100%;
    }

    body section .container_respons nav div ul .a_padding:hover,
    body section .container_respons nav div ul li .active {
        color: red !important;
        background-color: transparent;
    }

    body section .container_respons nav div ul {
        height: 100vh;
    }

    .div_width {
        width: 100% !important;
    }

    .image_click {
        height: 30vh !important;
    }

    body main .section_minheight {
        min-height: 0px;
    }

    .active_owl {
        width: 20%;
        height: 80vh;
    }
}

@media (max-width: 400px) {
    body .section_main div .container .row div .div_image_back .image_zindex {
        width: 70%;
    }
}

// end media