@import "color";

// start everyone
body {
    text-transform: capitalize;
    font-family: 'Merriweather', serif;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: $color_navbar_text;
}

.tag_transition {
    transition: 0.4s;
}

.div_index {
    z-index: 1;
}

.span_all {
    color: $color_main_textandbutton;
}

.index_four {
    z-index: 4;
}

body main .section_services .container .div_anmai_end::before,
body main .section_services .container .div_before_anmai_next::after,
body main .section_services .container .div_before_anmai_next::before,
body main .section_services .container .div_before_anmai::before,
body main .section_services .container .div_before_anmai::after,
body main section .container .image_beforeandafter .image_animation .div_change::before,
body main section .container .image_beforeandafter .image_animation::after,
body main section .container .image_beforeandafter .image_animation::before,
body main section .container .image_beforeandafter::after,
body main section .container .image_beforeandafter::before,
body .section_main .container .row div div .before_image::before,
body .section_main .container .row div .div_image_back::before,
body .section_main .container .row div .div_image_back::after {
    content: "";
    animation: image_animation 3s infinite;
    position: absolute;
}

.button_active_demo {
    background-color: $color_navbar_demo;
}

// end everyone
// start navbar
body section .container_respons nav div ul li .active {
    color: $color_white !important;
    background-color: $color_main_one;
}

body section .container_respons nav div ul li .button_active_language {
    background-color: $color_navbar_language;
}

body section .container_respons nav div ul .a_padding {
    color: $color_navbar_text;
    padding-top: 34px;
    padding-bottom: 34px;
}

body section .container_respons nav div ul .a_padding:hover {
    color: $color_white !important;
    background-color: $color_main_one;
}

// end navbar
// start main
body .section_main {
    height: 100vh;
    background: -webkit-linear-gradient(-180deg, $color_main_one, $color_main_tow);
    background: linear-gradient(-180deg, $color_main_one, $color_main_tow);
}

body .section_main div div .image_left_back {
    width: 500px;
    height: 400px;
    animation: left_animation 3s infinite !important;
}

@keyframes left_animation {
    0% {
        transform: translate(0, 50px);
    }

    50% {
        transform: translate(0, 0px);
    }

    100% {
        transform: translate(0, 50px);
    }
}

body .section_main .container .row div div .text_gold {
    color: $color_main_text;
}

body .section_main .container .row div .div_image_back::before {
    content: url("/folder_image/image_main/image_main_right.png");
}

body .section_main .container .row div .div_image_back::after {
    content: url("/folder_image/image_main/image_iphone_left.png");
    margin-top: 150px;
    border-radius: 20px;
    margin-left: -300px;
    z-index: 3;
}

body .section_main .container .row div .div_image_back .before_image::before {
    content: url("/folder_image/image_main/image_iphone_right.png");
    margin-top: 150px;
    border-radius: 20px;
    margin-left: 200px;
    margin-top: 360px;
    z-index: 3;
}

@keyframes image_animation {
    0% {
        transform: translate(0, -30px);
    }

    50% {
        transform: translate(0, 0px);
    }

    100% {
        transform: translate(0, -30px);
    }
}

body .section_main div .container .row div div div .video_center {
    outline: 2px solid $color_white;
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: 0.1s;
}

body .section_main div .container .row div div div .video_center:hover {
    outline: 0px solid $color_white;
    background-color: $color_main_hover !important;
}

body .section_main div .container .row div div div .button_background {
    background-color: $color_main_textandbutton;
}

body .section_main div .container .row div div div .button_background:hover {
    background-color: $color_navbar_demo;
}

body .section_main div .container .row div div div .button_background:hover .text_download {
    font-size: 17px;
}

body .section_main div .container .row div div div .button_background:hover .image_hover {
    margin-top: 5px;
}

body .section_main div a .icon_animation {
    animation: image_animation 1s infinite;
}

// end main
// start about
body main section .container .title_about {
    color: $color_aboutandservices_title;
}

body main section .container .text_about {
    color: $color_aboutandservices_text;
}

body main section .container .image_beforeandafter .image_animation::after,
body main section .container .image_beforeandafter .image_animation::before,
body main section .container .image_beforeandafter::before,
body main section .container .image_beforeandafter::after {
    z-index: -1;
}

body main section .container .image_beforeandafter::before,
body main section .container .image_beforeandafter .image_animation::before {
    animation: point_animation 5s infinite;
    left: 15%;
}

body main section .container .image_beforeandafter::before {
    content: url("/folder_image/image_about/image_ellipse1.svg");
}

@keyframes point_animation {
    0% {
        transform: translate(0, -5px);
    }

    50% {
        transform: translate(0, 0px);
    }

    100% {
        transform: translate(0, -5px);
    }
}

body main section .container .image_beforeandafter::after {
    content: url("/folder_image/image_about/image_ellipse2.svg");
    left: 12%;
    top: 140%;
    animation: point_smoll_animation 4s infinite;
}

@keyframes point_smoll_animation {
    0% {
        transform: translate(0px, -19px);
    }

    50% {
        transform: translate(10px, 0px);
    }

    100% {
        transform: translate(0px, -19px);
    }
}

body main section .container .image_beforeandafter .image_animation::before {
    content: url("/folder_image/image_about/image_ellipse5.svg");
    top: 180%;
    left: 13%;
}

body main section .container .image_beforeandafter .image_animation::after {
    content: url("/folder_image/image_about/image_ellipse4.svg");
    left: 12%;
    top: 185%;
    animation: point_smoll_animation 4s infinite;
}

body main section .container .image_beforeandafter .image_animation .div_change::before {
    right: 0;
    top: 130%;
    z-index: -1;
    animation: change_animation 7s infinite;
}

@keyframes change_animation {
    0% {
        content: url("/folder_image/image_about/image_jiqsaw1.svg");
        transform: translate(-30px, 70px);
    }

    50% {
        content: url("/folder_image/image_about/image_jiqsaw2.svg");
        transform: translate(0px, 0px);
    }

    100% {
        content: url("/folder_image/image_about/image_jiqsaw1.svg");
        transform: translate(-30px, 70px);
    }
}

// end about
// start services
body main .section_services {
    background-color: $color_services_back;
}

body main .section_services .container .row_nth:nth-child(even) {
    flex-direction: row-reverse;
}

body main .section_services .container .row_nth:nth-child(odd) {
    flex-direction: row;
}

body main .section_services .container .row_nth .col_overflow div .div_mouse .acitve_background {
    background-color: $color_navbar_text !important;
}

body main .section_services .container .row_nth .col_overflow div .div_mouse {
    cursor: pointer;
}

body main .section_services .container .row_nth .col_overflow div .div_mouse .icon_padding {
    width: 50px;
    height: 50px;
}

body main .section_services .container .row_nth .col_overflow div .text_active {
    color: $color_navbar_text;
}

body main .section_services .container .row_nth .col_overflow {
    height: 34vh;
}

body main .section_services .container .row_nth .col_overflow div .div_mouse .icon_padding .icon_active {
    color: $color_white !important;
}

body main .section_services .container .div_before_anmai::after {
    content: url("/folder_image/image_services/image_background_left.svg");
    left: 0;
    top: 2400px;
}

body main .section_services .container .div_before_anmai::before {
    content: url("/folder_image/image_services/image_background_right.svg");
    right: 0;
    top: 3100px;
}

body main .section_services .container .div_before_anmai_next::before {
    content: url("/folder_image/image_services/image_background_left.svg");
    left: 0;
    top: 3700px;
}

body main .section_services .container .div_before_anmai_next::after {
    content: url("/folder_image/image_services/image_background_right.svg");
    right: 0;
    top: 4200px;
}

body main .section_services .container .div_anmai_end::before {
    content: url("/folder_image/image_services/image_background_left.svg");
    left: 0;
    top: 4500px;
}

body main .section_services .container .row div a .button_hover .image_hover_right {
    transition: 0.3s;
}

body main .section_services .container .row div a .button_hover:hover .image_hover_right {
    margin-left: 20px;
}

// end services
// start media
@media (max-width: 1200px) and (min-width: 990px) {
    body .section_main div .container .row div .div_image_back::before {
        width: 50%;
        height: 650px;
    }

    body section .container_respons nav div ul .a_padding {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
}

@media (max-width: 990px) {
    body .section_main {
        padding-top: 1100px;
    }

    body main .section_services .container .div_anmai_end::before,
    body main .section_services .container .div_before_anmai_next::after,
    body main .section_services .container .div_before_anmai_next::before,
    body main .section_services .container .div_before_anmai::before,
    body main .section_services .container .div_before_anmai::after,
    body main section .container .image_beforeandafter .image_animation .div_change::before,
    body main section .container .image_beforeandafter .image_animation::after,
    body main section .container .image_beforeandafter .image_animation::before,
    body main section .container .image_beforeandafter::after,
    body main section .container .image_beforeandafter::before,
    body .section_main div div .image_left_back,
    body .section_main div .container .row div div .before_image::before,
    body .section_main div .container .row div .div_image_back::after,
    body .section_main div .container .row div .div_image_back::before {
        display: none;
    }

    body section .container_respons nav div ul li .button_active_demo:hover,
    body section .container_respons nav div ul li .button_active_language:hover {
        color: $color_white !important;
    }

    body section .container_respons nav div ul li .button_active_demo:hover {
        background-color: $color_navbar_demo;
    }

    body section .container_respons nav div ul li .button_active_language:hover {
        background-color: $color_navbar_language;
    }

    body section .container_respons {
        min-width: 100%;
    }

    body section .container_respons nav div ul .a_padding:hover,
    body section .container_respons nav div ul li .active {
        color: red !important;
        background-color: transparent;
    }

    body section .container_respons nav div ul {
        height: 100vh;
    }

    .div_width {
        width: 100% !important;
    }
}

@media (max-width: 400px) {
    body .section_main div .container .row div .div_image_back .image_zindex {
        width: 70%;
    }
}

// end media