@import "color";

// start everyone
body {
    text-transform: capitalize;
    font-family: 'Rajdhani', sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: $color_navbar_text;
}

.tag_transition {
    transition: 0.4s;
}

.div_index {
    z-index: 1;
}

.span_all {
    color: $color_main_textandbutton;
}

.index_four {
    z-index: 4;
}

body main section .container .div_works::after,
body main section .container .div_works::before,
body main section .container .div_content::after,
body main section .container .div_content::before,
body main .section_services .container .section_backimage::before,
body main .section_services .container .section_backimage::after,
body main section .container .image_beforeandafter .image_animation .div_change::before,
body main section .container .image_beforeandafter .image_animation::after,
body main section .container .image_beforeandafter .image_animation::before,
body main section .container .image_beforeandafter::after,
body main section .container .image_beforeandafter::before,
body .section_main .container .row div div .before_image::before,
body .section_main .container .row div .div_image_back::before,
body .section_main .container .row div .div_image_back::after {
    content: "";
    animation: image_animation 3s infinite;
    position: absolute;
}

.button_active_demo {
    background-color: $color_navbar_demo;
}

.div_height {
    height: 10vh;
}

.mouse_caro {
    cursor: pointer;
}

.text_color_reverse {
    color: $color_secondary;
}

.accordion-button::after,
.accordion-button:not(.collapsed)::after {
    background-image: unset;
}

.accordion:nth-child(odd) .accordion-button::after {
    content: url("/folder_image/image_benefits/icon_arrow_right.svg");
    margin-left: auto;
}

.accordion:nth-child(even) .accordion-button::after {
    content: url("/folder_image/image_benefits/icon_arrow.svg");
    margin-left: auto;
}

.accordion:nth-child(odd) .accordion-button:not(.collapsed)::after,
.accordion:nth-child(even) .accordion-button:not(.collapsed)::after {
    content: url("/folder_image/image_benefits/icon_bottom.svg");
    transform: rotate(0deg);
}

.accordion:nth-child(odd) .accordion-item:last-of-type .accordion-button.collapsed,
.accordion:nth-child(even) .accordion-item:last-of-type .accordion-button.collapsed {
    border-radius: 20px;
}

.accordion:nth-child(odd) .accordion-item:last-of-type .accordion-button.collapsed {
    color: $color_aboutandservices_title;
    background-color: $color_benefits;
}

.accordion:nth-child(even) .accordion-item:last-of-type .accordion-button.collapsed {
    color: $color_aboutandservices_text;
    background-color: $color_benefits;
}

.accordion:nth-child(odd) .accordion-item .accordion-button {
    background-color: $color_aboutandservices_title;
}

.accordion:nth-child(even) .accordion-item .accordion-button {
    background-color: $color_aboutandservices_text;
}

.accordion .accordion-item .accordion-button {
    border-radius: 20px 20px 0 0;
    color: $color_white;
}

.image_fit {
    object-fit: cover;
}

.div_background {
    background-color: #F4F4F4;
}

// end everyone
// start navbar
body section .container_respons nav div ul li .active {
    color: $color_white !important;
    background-color: $color_main_one;
}

body section .container_respons nav div ul li .button_active_language {
    background-color: $color_navbar_language;
}

body section .container_respons nav div ul .a_padding {
    color: $color_navbar_text;
    padding-top: 34px;
    padding-bottom: 34px;
}

body section .container_respons nav div ul .a_padding:hover {
    color: $color_white !important;
    background-color: $color_main_one;
}

// end navbar
// start main
body .section_main div .container .row div .div_index .size_Jigsaw {
    font-size: 50px;
}

body .section_main {
    height: 100vh;
    background: -webkit-linear-gradient(-180deg, $color_main_one, $color_main_tow);
    background: linear-gradient(-180deg, $color_main_one, $color_main_tow);
}

body .section_main div div .image_left_back {
    width: 500px;
    height: 400px;
    animation: left_animation 3s infinite !important;
}

@keyframes left_animation {
    0% {
        transform: translate(0, 50px);
    }

    50% {
        transform: translate(0, 0px);
    }

    100% {
        transform: translate(0, 50px);
    }
}

body .section_main .container .row div div .text_gold {
    color: $color_main_text;
}

body .section_main .container .row div .div_image_back::before {
    content: url("/folder_image/image_main/image_main_right.png");
}

body .section_main .container .row div .div_image_back::after {
    content: url("/folder_image/image_main/image_iphone_left.png");
    margin-top: 150px;
    border-radius: 20px;
    margin-left: -300px;
    z-index: 3;
}

body .section_main .container .row div .div_image_back .before_image::before {
    content: url("/folder_image/image_main/image_iphone_right.png");
    margin-top: 150px;
    border-radius: 20px;
    margin-left: 200px;
    margin-top: 360px;
    z-index: 3;
}

@keyframes image_animation {
    0% {
        transform: translate(0, -30px);
    }

    50% {
        transform: translate(0, 0px);
    }

    100% {
        transform: translate(0, -30px);
    }
}

body .section_main div .container .row div div div .video_center {
    outline: 2px solid $color_white;
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: 0.1s;
}

body .section_main div .container .row div div div .video_center:hover {
    outline: 0px solid $color_white;
    background-color: $color_main_hover !important;
}

body .section_main div .container .row div div div .button_background {
    background-color: $color_main_textandbutton;
}

body .section_main div .container .row div div div .button_background:hover {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    background-color: $color_navbar_demo;
}

body .section_main div .container .row div div div .button_background:hover .text_download {
    font-size: 17px;
}

body .section_main div .container .row div div div .button_background:hover .image_hover {
    margin-top: 5px;
}

body .section_main div .icon_animation {
    animation: image_animation 4s infinite;
}

// end main
// start about
body main section .container .title_about {
    color: $color_aboutandservices_title;
}

body main section .container .text_about {
    color: $color_aboutandservices_text;
}

.title_size {
    font-size: 18px;
}

body main section .container .image_beforeandafter .image_animation::after,
body main section .container .image_beforeandafter .image_animation::before,
body main section .container .image_beforeandafter::before,
body main section .container .image_beforeandafter::after {
    z-index: -1;
}

body main section .container .image_beforeandafter::before,
body main section .container .image_beforeandafter .image_animation::before {
    animation: point_animation 5s infinite;
    margin-left: -520px;
}

body main section .container .image_beforeandafter::before {
    content: url("/folder_image/image_about/image_ellipse1.svg");
}

@keyframes point_animation {
    0% {
        transform: translate(0, -5px);
    }

    50% {
        transform: translate(0, 0px);
    }

    100% {
        transform: translate(0, -5px);
    }
}

body main section .container .image_beforeandafter::after {
    content: url("/folder_image/image_about/image_ellipse2.svg");
    margin-left: -540px;
    margin-top: -630px;
    animation: point_smoll_animation 4s infinite;
}

@keyframes point_smoll_animation {
    0% {
        transform: translate(0px, -19px);
    }

    50% {
        transform: translate(10px, 0px);
    }

    100% {
        transform: translate(0px, -19px);
    }
}

body main section .container .image_beforeandafter .image_animation::before {
    content: url("/folder_image/image_about/image_ellipse5.svg");
    margin-top: 400px;
}

body main section .container .image_beforeandafter .image_animation::after {
    content: url("/folder_image/image_about/image_ellipse4.svg");
    margin-left: -530px;
    margin-top: -170px;
    animation: point_smoll_animation 4s infinite;
}

body main section .container .image_beforeandafter .image_animation .div_change::before {
    right: 0;
    z-index: -1;
    animation: change_animation 7s infinite;
}

@keyframes change_animation {
    0% {
        content: url("/folder_image/image_about/image_jiqsaw1.svg");
        transform: translate(-30px, 70px);
    }

    50% {
        content: url("/folder_image/image_about/image_jiqsaw2.svg");
        transform: translate(0px, 0px);
    }

    100% {
        content: url("/folder_image/image_about/image_jiqsaw1.svg");
        transform: translate(-30px, 70px);
    }
}

// end about
// start services
body main .section_services {
    background-color: $color_services_back;
}

body main .section_services .container .row_nth:nth-child(odd) {
    flex-direction: row-reverse;
}

body main .section_services .container .row_nth:nth-child(even) {
    flex-direction: row;
}

body main .section_services .container .row_nth div div .div_mouse .acitve_background {
    background-color: $color_navbar_text !important;
}

body main .section_services .container .row_nth div div .div_mouse .icon_padding {
    width: 50px;
    height: 50px;
}

body main .section_services .container .row_nth div div .text_active {
    color: $color_navbar_text;
}

body main .section_services .container .row_nth div div .div_mouse .icon_padding .icon_active {
    color: $color_white !important;
}

body main .section_services .container .section_backimage::before {
    content: url("/folder_image/image_services/image_background_left.svg");
    left: 0;
    margin-top: -1000px;
}

body main .section_services .container .section_backimage::after {
    content: url("/folder_image/image_services/image_background_right.svg");
    right: 0;
    margin-top: -800px;
}

body main .section_services .container .row div a .button_hover .image_hover_right {
    transition: 0.3s;
}

body main .section_services .container .row div a .button_hover:hover .image_hover_right {
    margin-left: 20px;
}

body main .section_services .container .row_nth div div .border_right {
    border-right: 4px solid $color_navbar_text;
}

// end services
// start benefits
body main .section_minheight {
    min-height: 900px;
}

body main section div .div_animation {
    animation: left_animation 8s infinite !important;
}

body main .section_minheight div div .row .accordion div .accordion-header .accordion-button:focus {
    box-shadow: var(--bs-accordion-btn-focus-border-color);
}

// end benefits
// start features
.col:nth-child(odd) .div_none_color,
.col:nth-child(even) .div_none_color {
    margin-top: 55px;
    margin-left: -48px;
    width: 100%;
    height: 185px;
    transition: 1s;
}

body main section .container .row .col .div_hover:hover .div_margin_hover {
    margin-top: -215px;
}

.col:nth-child(odd) .div_none_color {
    background-color: $color_aboutandservices_title;

}

.col:nth-child(even) .div_none_color {
    background-color: $color_aboutandservices_text;
}

body main section div .row section div .div_margin_hover {
    transition: 1s;
}

body main section .container .row .col .div_hover .div_none_color .container .p_line::before {
    content: "";
    position: absolute;
    width: 55%;
    height: 2px;
    top: 45px;
    left: 65px;
    background-color: $color_white;
}

body main section .container .div_content::before {
    content: url("/folder_image/image_services/image_background_left.svg");
    left: 0;
    margin-top: -300px;
}

body main section .container .div_content::after {
    content: url("/folder_image/image_services/image_background_right.svg");
    right: 0;
    margin-top: -300px;
}

body section main div div div .text_letter {
    letter-spacing: 2px;
}

body main section .div_inline_none div .div_absolute_width {
    width: 390px;
}

body main section .div_inline_none div .div_absolute_width .div_none_reverse {
    display: none;
}

body main section .div_inline_none .image_click {
    width: 100%;
    height: 100vh;
    transition: 1s;
}

body main section .div_inline_none .active_image {
    width: 250%;
}

body main section section .container .row .accordion .accordion-header div .image_respons {
    height: 20vh;
}

body main section section .container .row .accordion .accordion-header div .div_center {
    transform: translate(0, 50px);
}

body main section section .container .row .accordion .accordion-header div .div_center .active_image_arraow {
    transform: rotate(180deg);
}

body main section section .container .row .accordion .accordion-header div .div_center .image_arraow {
    transition: 0.5s;
}

// end features
// start work
body main section .container .div_works::before {
    content: url("/folder_image/image_services/image_background_right.svg");
    right: 0;
    margin-top: -20px;
}

body main section .container .div_works::after {
    content: url("/folder_image/image_services/image_background_left.svg");
    left: 0;
    margin-top: -100px;
}

body main section .container .div_border {
    border-top: 5px dashed $color_navbar_text;
}

body main section .container .row div .col_circle::before {
    content: "";
    position: absolute;
    margin-top: -68px;
    border-radius: 50px;
    border: 2px solid $color_white;
    outline: 2px solid $color_navbar_text;
    width: 25px;
    height: 25px;
}

body main section .container .row div:nth-child(even) .col_circle::before {
    background-color: $color_navbar_text;
}

body main section .container .row :nth-child(odd) .col_circle::before {
    background-color: $color_navbar_demo;
}

body main section .container div .div_width_line {
    width: 85%;
}

// end work
// start integration
body main section .container .row .col .shadow_radius {
    border-radius: 50px;
}

// start integration
// start customers
body main .section_cutomer {
    height: 1000px;
}

body main .section_services div .swiper {
    width: 100%;
    height: 650px;
    padding-top: 50px;
    padding-bottom: 50px;
}

body main .section_services div .swiper .swiper-wrapper .swiper-slide {
    width: 239px;
    height: 70vh;
}

body main .section_services div .swiper .swiper-wrapper .swiper-slide img {
    border-radius: 30px;
    display: block;
    width: 100%;
}

body main .section_services div .swiper .swiper-wrapper .swiper-slide.inactive {
    filter: blur(4px);
    opacity: 1;
}

body main .section_services div .swiper .swiper-wrapper .swiper-slide-active::before {
    content: url("/folder_image/image_customers/image_background.png");
    position: absolute;
    margin-top: -25px;
    margin-left: -22px;
}

body main .section_services div .swiper .swiper-button-next,
body main .section_services div .swiper .swiper-button-prev {
    color: $color_navbar_text;
    border: 2px solid $color_navbar_text;
    transition: 0.2s;
}

body main .section_services div .swiper .swiper-button-next:hover:after,
.swiper-rtl .swiper-button-prev:hover:after {
    margin-left: 10px;
}

body main .section_services div .swiper .swiper-button-prev:hover:after,
.swiper-rtl .swiper-button-next:hover:after {
    margin-right: 10px;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after,
body main .section_services div .swiper .swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
    font-size: 23px;
    transition: 0.2s;
}

// end customers
// start footer
body main .section_footer {
    background: -webkit-linear-gradient(87deg, rgb(27, 34, 114), rgb(26, 30, 77));
    background: linear-gradient(87deg, rgb(27, 34, 114), rgb(26, 30, 77));
}

body main .section_footer div .background_footer {
    height: 400px;
    animation: footer_animation 7s infinite;
}

@keyframes footer_animation {
    0% {
        content: url("/folder_image/image_footer/image_background.png");
        transform: translate(0px, -50px);
    }

    50% {
        content: url("/folder_image/image_footer/image_background1.png");
        transform: translate(0px, 0px);
    }

    100% {
        content: url("/folder_image/image_footer/image_background.png");
        transform: translate(0px, -50px);
    }
}

body main .section_footer div .div_hr {
    width: 100%;
    height: 2px;
}

body main .section_footer .row div ul li .line_before::after {
    content: "";
    position: absolute;
    background-color: $color_white;
    width: 1.5px;
    height: 15px;
    margin-top: 5px;
    margin-left: 10.5px;
}

.icon_footer:hover,
body main .section_footer .row div ul li .line_before:hover {
    color: $color_secondary;
}

.data_hover:hover .text_color_reverse {
    color: $color_white !important;
}

// end footer
// start media
@media (max-width: 1200px) and (min-width: 990px) {
    body .section_main div .container .row div .div_image_back::before {
        width: 50%;
        height: 650px;
    }

    body section .container_respons nav div ul .a_padding {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
}

@media (max-width: 990px) {
    body .section_main div .container .row div .div_index .size_Jigsaw {
        font-size: 25px;
    }

    body .section_main {
        padding-top: 1100px;
    }

    body main .section_services .container .section_backimage::before,
    body main .section_services .container .section_backimage::after,
    body main .section_footer::before,
    body main section .container .div_works::after,
    body main section .container .div_works::before,
    body main section .container .row div .col_circle::before,
    body main section .div_inline_none,
    body main section #div_none,
    body main section .container .div_content::after,
    body main section .container .div_content::before,
    body main section .container .image_beforeandafter .image_animation .div_change::before,
    body main section .container .image_beforeandafter .image_animation::after,
    body main section .container .image_beforeandafter .image_animation::before,
    body main section .container .image_beforeandafter::after,
    body main section .container .image_beforeandafter::before,
    body .section_main div div .image_left_back,
    body .section_main div .container .row div div .before_image::before,
    body .section_main div .container .row div .div_image_back::before,
    body .section_main div .container .row div .div_image_back::after {
        display: none !important;
    }

    body section .container_respons nav div ul li .button_active_demo:hover,
    body section .container_respons nav div ul li .button_active_language:hover {
        color: $color_white !important;
    }

    body section .container_respons nav div ul li .button_active_demo:hover {
        background-color: $color_navbar_demo;
    }

    body section .container_respons nav div ul li .button_active_language:hover {
        background-color: $color_navbar_language;
    }

    body section .container_respons {
        min-width: 100%;
    }

    body section .container_respons nav div ul .a_padding:hover,
    body section .container_respons nav div ul li .active {
        color: $color_navbar_language !important;
        background-color: transparent;
    }

    body section .container_respons nav div ul {
        height: 100vh;
    }

    .div_width {
        width: 100% !important;
    }

    .image_click {
        height: 30vh !important;
    }

    body main .section_minheight {
        min-height: 0px;
    }

    body main section .container .row .col .div_hover {
        height: 200px !important;
    }

    .col:nth-child(odd) .div_none_color,
    .col:nth-child(even) .div_none_color {
        margin-top: 55px;
        margin-left: -48px;
        width: 100%;
        height: 185px;
        transition: 1s;
    }

    body main section .container .row .col .div_hover:hover .div_margin_hover {
        margin-top: -215px;
    }
}

@media (max-width: 520px) {
    body main .section_services div .swiper {
        padding-top: 10px;
    }

    body main .section_cutomer {
        height: 900px;
    }

    body main .section_cutomer div .div_margin_links {
        margin-top: -90px;
    }

    body main .section_services div .swiper .swiper-wrapper .swiper-slide {
        height: 60vh;
    }
}

// end media