$colorWhite: white;
$colorBlack: black;
$colorNavbarText: #2D337B;
$colorNavbarDemo: #AD2685;
$colorNavbarLanguage: #E51148;
$colorMainHover: #CCCDDF;
$colorMainOne: #1A1E4D;
$colorMainTow: #4149A0;
$colorMainTextandButton: #F94F72;
$colorMainText: Yellow;
$colorServicesBack: #F0F1F7;
$colorBenefits: #F5F5FA;
$colorAboutandservicesTitle: #2C3B84;
$colorAboutandservicesText: #A92D94;
$colorSecondary: #ffffffb5;