@import "color";

// start everyone
body {
    font-family: 'Rajdhani', sans-serif;
}

::-webkit-scrollbar {
    width: 13px;
}

::-webkit-scrollbar-thumb {
    background: $colorNavbarText;
}

.tag-transition {
    transition: 0.4s;
}

.div-index {
    z-index: 1;
}

.span-all {
    color: $colorMainTextandButton;
}

.div-animation,
body .section-marign-all div div div .image-ellipase-clicle,
body .section-main .container .row div .image-rnimation-right {
    animation: imageAnimation 3s infinite;
    position: absolute;
}

.mouse-caro {
    cursor: pointer;
}

.section-marign-all {
    margin-top: 70px;
}

.text-color-reverse {
    color: $colorSecondary;
}

.image-fit {
    object-fit: cover;
}

.div-background {
    background-color: $colorSecondary;
}

.color-title {
    color: $colorAboutandservicesTitle;
}

.color-text {
    color: $colorAboutandservicesText;
}

.title-size {
    font-size: 18px;
}

.tag-40 {
    font-size: 40px;
}

.size-litter {
    letter-spacing: 5px;
}

.text-justify {
    text-align: justify;
}

.div-animation {
    animation: leftAnimation 8s infinite !important;
}

.row-gap {
    row-gap: 25px;
}

// end everyone
// start navbar
body .navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transition: transform 0.3s ease, opacity 0.3s ease, top 0.3s ease;
}

body nav {
    z-index: 1;
}

body .navbar.scroll-up {
    position: fixed;
    top: 0;
}

body .navbar.hidden {
    opacity: 0;
    transform: translateY(-100%);
}

body .navbar.visible {
    opacity: 1;
    transform: translateY(0);
    position: fixed;
    top: 0;
}

body nav .container-respons div ul li .active {
    color: $colorWhite !important;
    background-color: $colorMainOne;
}

body nav .container-respons div div .button-active-language {
    background-color: $colorNavbarLanguage;
}

body nav .container-respons div .image-logo {
    width: 100%;
    height: 60px;
    object-fit: cover;
}

body nav .container-respons div ul li .style-padding-navbar {
    color: $colorNavbarText;
    padding-top: 34px;
    padding-bottom: 34px;
}

body nav .container-respons div ul li .style-padding-navbar:hover {
    color: $colorWhite !important;
    background-color: $colorMainOne;
}

body nav .container-respons div div .padding-buttons {
    padding: 25px 15px !important;
}

body nav .container-respons div div .button-active-demo {
    background-color: $colorNavbarDemo;
    width: 200px;
}

body .index-four {
    z-index: 4;
}

// end navbar
// start main
body .section-main {
    height: 100vh;
    background: -webkit-linear-gradient(-180deg, $colorMainOne, $colorMainTow);
    background: linear-gradient(-180deg, $colorMainOne, $colorMainTow);
}

body .section-main div div div .div-index div .size-jigsaw-text {
    font-size: 45px;
}

body .section-main div .image-left-back {
    width: 500px;
    height: 400px;
    animation: leftAnimation 3s infinite !important;
}

@keyframes leftAnimation {
    0% {
        transform: translate(0, 50px);
    }

    50% {
        transform: translate(0, 0px);
    }

    100% {
        transform: translate(0, 50px);
    }
}

body .section-main div div div .div-index div .text-gold {
    color: $colorMainText;
    font-size: 20px;
}

body .section-main div div div div div .image-right-main {
    right: -50px;
    top: 40%;
}

body .section-main div div div div div .image-left-main {
    left: -50px;
}

@keyframes imageAnimation {
    0% {
        transform: translate(0, -30px);
    }

    50% {
        transform: translate(0, 0px);
    }

    100% {
        transform: translate(0, -30px);
    }
}

body .section-main div div div .div-index div .video-center {
    outline: 2px solid $colorWhite;
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: 0.1s;

    img {
        width: 20px;
        height: 20px;
    }
}

body .section-main div div div .div-index div .video-center:hover {
    outline: 0px solid $colorWhite;
    background-color: $colorMainHover !important;
}

body .section-main div div div .div-index div .button-background {
    background-color: $colorMainTextandButton;

    img {
        width: 25px;
        height: 25px;
    }
}

body .section-main div div div .div-index div .button-background:hover {
    background-color: $colorNavbarDemo;

    span {
        font-size: 17px;
    }
}

body .section-main div .icon-animation {
    animation: imageAnimation 4s infinite;
}

body .section-main .container .row div .image-rnimation-right {
    img {
        width: 100%;
        height: auto;
    }
}

// end main
// start about
body .section-marign-all div div div .image-about-cirlce {
    left: 9%;
    top: -30px;
    z-index: -1;
    animation: pointAnimation 5s infinite;
}

@keyframes pointAnimation {
    0% {
        transform: translate(0, -5px);
    }

    50% {
        transform: translate(0, 0px);
    }

    100% {
        transform: translate(0, -5px);
    }
}

body .section-marign-all div div div .image-about-cirlce-smaill {
    left: 9%;
    top: 85px;
    animation: pointSmollAnimation 4s infinite;
}

@keyframes pointSmollAnimation {
    0% {
        transform: translate(0px, -19px);
    }

    50% {
        transform: translate(10px, 0px);
    }

    100% {
        transform: translate(0px, -19px);
    }
}

body .section-marign-all div div div .image-ellipase-clicle {
    bottom: 150px;
    right: 78%;
    z-index: -1;
}

body .section-marign-all div div div .image-ellipase-clicle-3 {
    bottom: 140px;
    right: 90%;
    animation: pointSmollAnimation 4s infinite;
    z-index: -1;
}

body .section-marign-all div div div .image-ellipase-clicle-4 {
    right: 10px;
    animation: changeAnimation 7s infinite;
    z-index: -1;
}

@keyframes changeAnimation {
    0% {
        transform: translate(-30px, 20px);
        opacity: 1;
    }

    50% {
        transform: translate(0px, 0px);
        opacity: 0;
    }

    100% {
        transform: translate(-30px, 20px);
        opacity: 1;
    }
}

body .section-marign-all div div div .image-ellipase-clicle-5 {
    right: 10px;
    animation: changeAnimation2 7s infinite;
    z-index: -1;
}

@keyframes changeAnimation2 {
    0% {
        transform: translate(-30px, 20px);
        opacity: 0;
    }

    50% {
        transform: translate(0px, 0px);
        opacity: 1;
    }

    100% {
        transform: translate(-30px, 20px);
        opacity: 0;
    }
}

// end about
// start services
body .section-services {
    background-color: $colorServicesBack;
}

body .section-marign-all div .row-nth:nth-child(odd) {
    flex-direction: row-reverse;
}

body .section-marign-all div .row-nth:nth-child(even) {
    flex-direction: row;
}

body .section-services div .row-nth div div div div div .acitve-background {
    background-color: $colorNavbarText !important;
}

body .section-services div .row-nth div div div div .border-right .icon-padding {
    width: 50px;
    height: 50px;
}

body .section-services div .row-nth div div div div .text-active {
    color: $colorNavbarText;
}

body .section-services div .row-nth div div div div .border-right .acitve-background .icon-active {
    color: $colorWhite !important;
}

body .section-services div .row-nth div div div div div div .image-responsve-full {
    width: 100%;
    height: 500px;
    object-fit: contain;
}

body .section-marign-all div .row-nth .div-animation .size-image-right-and-left {
    width: 300px;
    height: 300px;
}

body .section-marign-all div .row-nth div div div .image-hover-right {
    background-color: $colorAboutandservicesText;
}

body .section-marign-all div .row-nth div div div .image-hover-right .arraw-left {
    transition: 0.3s;
}

body .section-marign-all div .row-nth div div div .image-hover-right:hover .arraw-left {
    margin-left: 20px;
}

body .section-marign-all div .row-nth div div div div .border-right {
    border-right: 4px solid $colorNavbarText;
}

body .section-marign-all div .row-nth div div ul li div .size-icon-list-app {
    width: 25px;
    height: 25px;
}

body .section-marign-all div .row-nth div .image-child .image-responsve-serves {
    width: 80%;
}

body .section-marign-all div .row-nth:nth-child(odd) {
    .image-child {
        text-align: left;
    }
}

body .section-marign-all div .row-nth:nth-child(even) {
    .image-child {
        text-align: right;
    }

    .div-animation {
        display: none;
    }
}

body .section-marign-all div .row-nth .div-start {
    left: -25px;
}

// end services
// start benefits
body .section-marign-all div .accordion .div-width .accordion-header .accordion-button::after {
    display: none;
}

body .section-marign-all div .accordion .accordion-item .size-arraw-benefit {
    right: 20px;
    top: 25px;

    img {
        width: 25px;
        height: 25px;
    }
}

body .section-marign-all div .accordion .div-width .accordion-header .accordion-button:focus,
body .section-marign-all div .accordion .div-width .accordion-header .accordion-button:hover {
    z-index: 0 !important;
}

body .section-marign-all div .accordion .accordion-item:nth-child(odd):last-of-type .accordion-button.collapsed,
body .section-marign-all div .accordion .accordion-item:nth-child(even):last-of-type .accordion-button.collapsed {
    border-radius: 20px;
}

body .section-marign-all div .accordion .div-width .size-arraw-benefit .size-arraw.show {
    transform: rotate(90deg) !important;
    transition: 0.3s;
}

body .section-marign-all div .accordion .div-width .size-arraw:not(.collapsed) {
    display: block !important;
    transform: rotate(0);
    box-shadow: unset !important;
    background-color: unset !important;
    transition: 0.3s;
}

body .section-marign-all div .accordion .accordion-item:nth-child(odd) .accordion-button.collapsed {
    color: $colorAboutandservicesTitle;
    background-color: $colorBenefits;
}

body .section-marign-all div .accordion .accordion-item:nth-child(even) .accordion-button.collapsed {
    color: $colorAboutandservicesText;
    background-color: $colorBenefits;
}

body .section-marign-all div .accordion .accordion-item:nth-child(odd) .accordion-button:not(.collapsed) {
    background-color: $colorAboutandservicesText;
}

body .section-marign-all div .accordion .accordion-item:nth-child(even) .accordion-button:not(.collapsed) {
    background-color: $colorAboutandservicesTitle;
}

body .section-marign-all div .accordion .accordion-item .accordion-button {
    border-radius: 20px 20px 0 0;
    color: $colorWhite;
}

body .section-marign-all .image-benefits {
    z-index: -1;
}

// end benefits
// start features
body section div div div .div-hover {
    height: 185px;
    transition: 0.5s;
}

body section div div .even-odd-style-color:nth-child(odd) .div-hover:hover .div-bottom-color {
    background-color: $colorAboutandservicesTitle;
}

body section div div .even-odd-style-color:nth-child(even) .div-hover:hover .div-bottom-color {
    background-color: $colorAboutandservicesText;
}

body section div div .even-odd-style-color .div-hover:hover .text-size {
    margin-top: 0 !important;
}

body section div div .even-odd-style-color .div-hover:hover .div-bottom-color {
    background-color: $colorAboutandservicesTitle;
    color: $colorWhite;
    top: 10px;
    bottom: 10px;
    left: 5px;
    right: 5px;
}

body section div div .even-odd-style-color .div-hover .div-bottom-color {
    transition: 0.5s;
    top: 100px;
}

body section div div .even-odd-style-color .div-hover .div-bottom-color .textSize {
    font-size: 12px;
    margin-top: 50px;
}

body section div div .even-odd-style-color .div-hover .div-image-hover .size-image-features {
    width: 90px;
    height: 90px;
    object-fit: cover;
}

body section div div .even-odd-style-color .div-hover:hover .div-image-hover .size-image-features {
    width: 0;
    height: 0;
}

body section div div .even-odd-style-color .div-hover .div-image-hover .size-image-features {
    width: 100px;
    transition: 0.5s;
}

// end features
// start how jigsaw
body section div .div-image-width {
    width: 25%;
    transition: 1.5s;
}

body section div .div-image-width:hover {
    width: 80%;
}

.divNoneReverse {
    width: 0;
    transition: 1.5s;
}

body section div .div-image-width:hover .divNoneReverse {
    width: 70%;
}

body section div .div-image-width:hover~.divNone {
    display: none;
}

body section div .div-image-width:hover .div-position {
    display: block;
}

body section div .div-image-width .div-position {
    top: 10%;
    margin-left: 2%;
    display: none;
}

body section div div div div div .image-respons {
    height: 20vh;
}

body section div div div div div .div-center {
    top: 35%;
}

body section div div div div div .div-center .active-image-arraow {
    transform: rotate(180deg);
}

body section div div div div div .div-center .image-arraow {
    transition: 0.5s;
}

body section div .div-image-width .image-click {
    width: 100%;
    height: 800px;
}

// end how jigsaw
// start works
body section div div div .col-circle::after {
    content: "";
    position: absolute;
    top: -8px;
    left: 44%;
    border-radius: 50px;
    border: 2px solid $colorWhite;
    outline: 2px solid $colorNavbarText;
    width: 25px;
    height: 25px;
}

body section div div div .col-circle::before {
    content: "";
    position: absolute;
    width: 110%;
    height: 3px;
    top: 0;
    left: 0;
    border: 2px dashed $colorNavbarText;
}

body section div div div:nth-child(even) .col-circle::after {
    background-color: $colorNavbarText;
}

body section div div div:nth-child(odd) .col-circle::after {
    background-color: $colorNavbarDemo;
}

.icon-data {
    width: 90px;
    height: 90px;
    object-fit: contain;
}

body section div div div:first-child .col-circle::before {
    width: 60%;
    left: 100px;
}

body section div div div:last-child .col-circle::before {
    width: 45%;
}

// end works
// start integration
body section div div div .shadow-radius {
    border-radius: 50px;
    height: 250px;
}

// start integration
// start customers
body section .swiper .swiper-wrapper .swiper-slide {
    width: 239px;
    height: 500px;
}

body section .swiper .swiper-wrapper .swiper-slide img {
    border-radius: 30px;
    display: block;
    width: 100%;
}

body section .swiper .swiper-wrapper .swiper-slide.inactive {
    filter: blur(4px);
    opacity: 1;
}

body section .swiper .swiper-button-next,
body section .swiper .swiper-button-prev {
    color: $colorNavbarText;
    border: 2px solid $colorNavbarText;
    transition: 0.2s;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after,
body section .swiper .swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
    font-size: 23px;
    transition: 0.2s;
}

body section div div .size-btn-google-apple {
    width: 140px;
    height: 45px;
    object-fit: contain;
}

// end customers
// start footer
body .section-footer {
    background: -webkit-linear-gradient(87deg, rgb(27, 34, 114), rgb(26, 30, 77));
    background: linear-gradient(87deg, rgb(27, 34, 114), rgb(26, 30, 77));
}

body .section-footer .size-image-style-colors {
    animation: footerAnimation 4s infinite;
}

@keyframes footerAnimation {
    0% {
        transform: translate(0px, 30px);
        opacity: 1;
    }

    50% {
        transform: translate(0px, 0px);
        opacity: 0;
    }

    100% {
        transform: translate(0px, 30px);
        opacity: 1;
    }
}

body .section-footer .size-image-style-colors-1 {
    animation: footerAnimation1 4s infinite;
}

@keyframes footerAnimation1 {
    0% {
        transform: translate(0px, 30px);
        opacity: 0;
    }

    50% {
        transform: translate(0px, 0px);
        opacity: 1;
    }

    100% {
        transform: translate(0px, 30px);
        opacity: 0;
    }
}

body .section-footer div div div .size-logo {
    width: 200px;
    height: 60px;
    object-fit: cover;
}

body .section-footer div .style-hr {
    width: 100%;
    height: 2px;
}

body .section-footer div div div div ul li div .icon-media {
    width: 25px;
    height: 25px;
}

body .section-footer div div ul li:nth-child(2) .line-before::after {
    display: none;
}

body .section-footer div div ul li .line-before::after {
    content: "";
    position: absolute;
    background-color: $colorWhite;
    width: 1.5px;
    height: 15px;
    margin-top: 5px;
    margin-left: 10.5px;
}

.link-footer:hover {
    color: $colorSecondary;
}

// end footer
// start media
@media (max-width: 990px) {
    body nav {
        position: relative !important;
    }

    body nav .container-respons div ul li .style-padding-navbar:hover,
    body section .container-respons nav div ul li .active {
        color: $colorNavbarLanguage !important;
        background-color: transparent;
    }

    body section .container-respons {
        min-width: 100%;
    }

    body nav .container-respons div ul li .style-padding-navbar {
        padding-top: 0;
        padding-bottom: 0;
    }

    .div-width {
        width: 100% !important;
    }

    body .section-footer div div ul li .line-before::after,
    body section div div div .col-circle::after,
    body section div div div .col-circle::before,
    .div-inline-none {
        display: none !important;
    }

    body .section-services div .row-nth div div div div .border-right {
        border-right: transparent;
    }

    body .section-marign-all div .row-nth .div-animation .size-image-right-and-left {
        width: 100px;
        height: 100px;
    }

    body .section-services div .row-nth div div div div div div .image-responsve-full {
        height: auto;
    }

    body .section-main div div div div div .image-right-main {
        right: -20px;
    }

    body .section-main div div div div div .image-left-main {
        left: -20px;
    }
}

// end media